body {
  margin: 0;
  padding: 0;
  font: 12px normal sans-serif;
}

#vis {
  margin: 20px;
  width: 100vw;
  height: 500px;
}

.domain {
  stroke: #eee;
}

.path {
  stroke: rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 20px;
  font-weight: bold;
  fill: #333;
}

.x.tick {
  font-weight: bold;
}

.axis text {
  display: none;
  fill: #555;
}

.axis .tick line {
  stroke: #ccc;
}

.axis.axis-0 text,
.axis.axis-5 text,
.axis.axis-10 text {
  display: block;
}

.POR {
  stroke: red;
  stroke-width: 2;
}

.surface {
  display: inline-block;
  position: relative;
  margin: 5px;
  border: 1px solid #eee;
}

.team-name {
  position: absolute;
  right: 5px;
  top: 5px;
  font: 10px Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;;
  color: tomato;
}
