body {
  margin: 0;
  padding: 0;
  font: 12px normal sans-serif;
}

#vis {
  margin: 20px;
  width: 100vw;
  height: 500px;
}

.domain {
  stroke: #eee;
}

.path {
  stroke: rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 20px;
  font-weight: bold;
  fill: #333;
}

.x.tick {
  font-weight: bold;
}

.axis text {
  display: none;
  fill: #555;
}

.axis .tick line {
  stroke: #ccc;
}

.axis.axis-0 text,
.axis.axis-5 text,
.axis.axis-10 text {
  display: block;
}

.POR {
  stroke: red;
  stroke-width: 2;
}
